#cajaSeca {
    top: 33%;
    left: 20%;
}

#caracas {
    top: 24%;
    left: 48%;
}

#laGuaira {
    top: 12%;
    left: 48%;
}
#maracaibo {
    top: 15%;
    left: 13%;
}

#margarita {
    top: 5%;
    left: 64%;
}