#cajaSeca {
    top: 32%;
    left: 20%;
}

#caracas {
    top: 22%;
    left: 48%;
}

#laGuaira {
    top: 15%;
    left: 48%;
}
#maracaibo {
    top: 12%;
    left: 13%;
}

#margarita {
    top: 5%;
    left: 64%;
}

#valencia {
    top: 9%;
    left: 40%;
}

#tachira {
    top: 20%;
    left: 13%;
}

#caripito {
    top: 2%;
    left: 68%;
}

#puertoAyacucho {
    top: 27%;
    left: 42%;
}

#sanFernando {
    top: 12%;
    left: 42%;
}

#losTeques {
    top: -4%;
    left: 46%;
}

#cumana {
    top: -13%;
    left: 63%;
}

#cua {
    top: -10%;
    left: 50%;
}

#guacara {
    top: -19%;
    left: 44%;
}