*, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.map {
    margin: auto;
    margin-top: -8%;
    width: 64vw;
    height: 64vw;
    background-image: url("./map.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.state {
    position: relative;
    font-size: 1.6vw;
    display: flex;
    background-color: red;
    border-radius: 50%;
    border: black solid 1px;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
}

.state:hover {
    cursor: pointer;
    background-color: brown;
}



.family-picture {
    max-width: 70%;
    max-height: 70%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.info {
    margin: 40px auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px;
    width: 90%; 
    height: 80vh;
    max-width: 600px;
}

.churchName {
    font-size: 2rem;
    font-weight: bold;
}

/* The Close Button */
.close {
    align-self: flex-end;
    color: #5c5c5c;
    float: right;
    font-size: 4rem;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }