*, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.map {
    margin: auto;
    margin-top: -8%;
    width: 64vw;
    height: 64vw;
    background-image: url("./map.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.state {
    position: relative;
    font-size: 1.6vw;
    display: flex;
    background-color: red;
    border-radius: 50%;
    border: black solid 1px;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
}

.state:hover {
    cursor: pointer;
    background-color: brown;
}



.family-picture {
    max-width: 70%;
    max-height: 300px;

    min-height: 200px;
    min-width: 200px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.info {
    margin: 40px auto;
    gap: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px;
    width: 90%; 
    padding-bottom: 20px;
    /* height: 80vh; */
    max-width: 600px;
}

.churchBox {
    width: 80%;
    text-align: center;
    background-color: antiquewhite;
    border: solid 1px black;
    padding: 5px;
    cursor: pointer;
}

.churchName {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 20px 0 20px;
}

.location {
    display: flex;
    gap: 10px;
    align-items: center;
}

.locationIcon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url("./icons/location.png");
    background-size: cover;
}

.socialSection {
    margin-top: 20px;
    display: flex;
    gap: 32px;
}

.socialMedia {
    width: 40px;
    height: 40px;
}

.instagram {
    background-image: url("./icons/instagram.png");
    background-size: cover;
}

.facebook {
    background-image: url("./icons/facebook.png");
    background-size: cover;
}

/* The Close Button */
.closeAndBackBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 80%;
    width: 100%;
    color: #5c5c5c;
    float: right;
    font-size: 4rem;
    font-weight: bold;
    margin-right: 20px;
}

.backBtn {
    cursor: pointer;
    font-size: 3rem;
    align-self: flex-end;
}


.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .title {
        padding: 10px;
    }
    .map {
        margin-top: 20px;
        width: 100vw;
        height: 100vw;
    }
    .state {
        width: 3.1vw;
        height: 3.1vw;
    }
    .closeAndBackBtn {
        gap: 70%;
    }
    .backBtn {
        align-self: center;
    }
}